# Logs
logs
*.log
*.DS_STORE
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# env
.env
.env.local
.env.staging
.env.production

# build
dist


